/******************************************************************************/
/**************************** Variables definition ****************************/
/******************************************************************************/
:root{
    /* Background variables */
    --bg-body: #ffffff;
    --bg-header: #ffffff;
    --bg-hero-free-trial: #b4d0e7;
    --bg-footer: #000000;
    --bg-clients: #f5f5f5;
    --bg-logo-designIt: #a2d39b;
    --bg-logo-asu: #61082b;
    --bg-logo-ufFlorida: #0093ce;
    --bg-logo-topps: #ff1c1c;
    --bg-logo-worldBicycleRelief: #d5001f;
    --bg-logo-hearst: #b4d0e7;
    --bg-logo-lonelyPlanet: #0d2481;
    --bg-logo-clearChannelOutdoor: #ffd830;
    --bg-btn-default: #ffffff;
    --bg-btn-special: #0061ff;
    --bg-chatbox-header: #f2eee8;
    --bg-chatbox-content: #ffffff;

    /* Text colors variables */
    --txt-body: #000000;
    --txt-footer: #ffffff;
    --txt-footer-languages: #9b9a9b;
    --txt-special: #61082b;
    --txt-btn-default: #000000;
    --txt-btn-special: #ffffff;

    /* Border variables */
    --bdr-header: #d1d9e1;
    --bdr-btn-default: #000000;
    --bdr-btn-special: transparent;
    --bdr-chatbox: lightgrey;

    /* Hover variables */
    --bg-hover-header: #f2eee8;
    --bg-hover-btn-default: #f2eee8;
    --bg-hover-btn-special: #5593f8;
    --bg-hover-details: #f2eee8;
    
    /* Size variables */
    --fs-body: 0.91rem;
    --fs-header: 1rem;
    --fs-btn: 0.91rem;
    --fs-h1: 5rem;
    --fs-h2: 2.4rem;
    --fs-h3: 1.4rem;
    --min-height-header-navbar: 60px;
    --fs-chatbox-header: 2rem;
    --fs-chatbox-icons: 1.5rem;

    /* Transition variables */
    --tr-bg-color: 0.2s;
    --tr-btn-bg-color: 1s;
    --tr-bdr-square-color: 1s;
}

/***************************************************************/
/**************************** Reset ****************************/
/***************************************************************/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*****************************************************************/
/**************************** General ****************************/
/*****************************************************************/
html{
    scroll-behavior: smooth;
}
.debug{
    border: 1px solid red;
}
body{
    font-family: 'Open Sans', sans-serif;
    font-size: var(--fs-body);
    color: var(--txt-body);
}
main{
    width: 100%;
}
.margin-auto{
    margin: 0 auto;
}
.main-container{
    max-width: 1200px;
    padding: 1rem;
}
.small-container{
    max-width: 1000px;
    padding: 1rem;
}
.total-width-container{
    width: 100%;
}
main h2{
    font-size: var(--fs-h2);
    padding-bottom: 2.2rem;
}
main h3{
    font-size: var(--fs-h3);
    padding-bottom: 1rem;
}
.centerCont{
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
}
.centerElem{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.bdr-rad-7px{
    border-radius: 7px;
}
.bdr-rad-10px{
    border-radius: 10px;
}

/*****************************************************************/
/**************************** Flexbox ****************************/
/*****************************************************************/
.d-flex{
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    justify-content: space-between;
}
.d-f-align-items-center{
    align-items: center;
}
.d-f-row-reverse{
    flex-flow: row-reverse;
}
.d-f-no-wrap{
    flex-wrap: nowrap;
}
.gap-1rem{
    gap: 1rem;
}
.gap-2rem{
    gap: 1rem;
}

/*****************************************************************/
/**************************** Buttons ****************************/
/*****************************************************************/
.btn{
    font-size: var(--fs-btn);
    padding: 12px 12px;
    transition: background-color var(--tr-btn-bg-color);
}
.btn:hover{
    cursor: pointer;
}
.btn-default{
    background-color: var(--bg-btn-default);
    color: var(--txt-btn-default);
    border: 1px solid var(--bdr-btn-default);
    
}
.btn-default:hover{
    background-color: var(--bg-hover-btn-default);
}
.btn-special{
    background-color: var(--bg-btn-special);
    color: var(--txt-btn-special);
    border: 1px solid var(--bdr-btn-special);
}
.btn-special:hover{
    background-color: var(--bg-hover-btn-special);
}
.btn-large{
    background-color: var(--bg-btn-default);
    color: var(--txt-btn-default);
    border: 1px solid transparent;
    padding: 8px 50px;
}
.btn-large:hover{
    background-color: var(--bg-hover-btn-default);
}

/*****************************************************************/
/***************************** List ******************************/
/*****************************************************************/
nav ul{
    list-style: none;
}
nav ul li a, #hero a{
    text-decoration: none;
}

/*****************************************************************/
/**************************** Custom *****************************/
/**************************** Radio ******************************/
/**************************** Button******************************/
/*****************************************************************/
/* Customize the label (the container) */
.containerRadioButton {
    display: inline-block;
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  /* Hide the browser's default radio button */
  .containerRadioButton input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
  }
  /* On mouse-over, add a grey background color */
  .containerRadioButton:hover input ~ .checkmark {
    background-color: #ccc;
  }
  /* When the radio button is checked, add a blue background */
  .containerRadioButton input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  /* Show the indicator (dot/circle) when checked */
  .containerRadioButton input:checked ~ .checkmark:after {
    display: block;
  }
  /* Style the indicator (dot/circle) */
  .containerRadioButton .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
  }

/*****************************************************************/
/****************************** Main *****************************/
/**************************** General ****************************/
/*****************************************************************/
main{
    margin-top: var(--min-height-header-navbar);
    padding-top: calc(3.5rem - var(--min-height-header-navbar));
}
main #hero, main #free-trial{
    background-color: var(--bg-hero-free-trial);
}

/*****************************************************************/
/**************************** Header ****************************/
/*****************************************************************/
header{
    font-size: var(--fs-header);
    background-color: var(--bg-header);
    width: 100%;
    min-height: var(--min-height-header-navbar);
    position: fixed;
    top: 0;
    z-index: 1000;
    border-bottom: 2px solid var(--bdr-header);
    padding: 0 1rem 0 1rem;
}
header nav ul{
    min-height: var(--min-height-header-navbar);
}
header nav ul .elemImg{
    width: 130px;
    transform: translateY(-7px);
}
header nav ul .elemBtn{
    width: 50px;
}
header nav ul img{
    line-height: var(--min-height-header-navbar);
    padding: 0.9rem 0 0 0;
}
header nav ul li{
    min-height: var(--min-height-header-navbar);
}
header nav ul li a{
    line-height: var(--min-height-header-navbar);
    padding: 19px 12px;
    color: var(--txt-body);
    border-bottom: 2px solid transparent;
    transition: all var(--tr-bg-color) linear;
}
header nav ul li a:hover{
    border-bottom: 2px solid black;
}
header .btn{
    font-size: var(--fs-header);
    padding: 7px 12px;
}

/*****************************************************************/
/****************************** Hero *****************************/
/*****************************************************************/
main #hero{
    width: 100%;
    padding: 5rem 0 1rem 0;
    margin-bottom: 6rem;
}
main #hero h1{
    font-size: var(--fs-h1);
}
main #hero .text{
    width: calc(30% - 1rem);
}
main #hero .text p{
    max-width: 350px;
    padding: 2rem 0 2rem 0;
}
main #hero .content{
    padding-top: 1.5rem;
}
main #hero .text a{
    font-size: 3rem;
    padding-top: 2rem;
    color: var(--txt-body);
}
main #hero .image{
    width: 70%;
    padding-top: 2rem;
    margin-bottom: -6rem;
}
main #hero .image img{
    width: 100%;
    min-width: 270px;
}

/*****************************************************************/
/***************************** Plans *****************************/
/*****************************************************************/
main #plans .radioButtons label:first-child{
    margin-right: 4rem;
}
main #plans .radioButtons{
    padding: 2rem 0 3rem 0;
}
main #plans .plans-container{
    width: 100%;
}
main #plans .head{
    width: 100%;
    border-bottom: 1px solid lightgrey;
}
#plans i{
    margin-right: 5px;
}
#plans .target{
    padding: 0.6rem 0 0.6rem 0;
    width: 100%;
    text-align: center;
}
#plans .plan-element .plan-try-buy .btn-special, #plans .plan-team .right .btn-special{
    width: 100%;
}

/*****************************************************************/
/****************************** Plan *****************************/
/*************************** Element *****************************/
/*****************************************************************/
main #plans .plan-element{
    width: calc(100% / 3 - 2rem);
    border: 1px solid lightgrey;
}
main #plans .plan-element hr{
    width: 50px;
    opacity: 50%;
}
.plan-major-details p i{
    color: blue;
}
.plan-element .content{
    padding: 2rem 1.5rem;
}
.plan-element .plan-general{
    padding-bottom: 1.5rem;
}
.plan-element .plan-general .price{
    font-weight: 700;
    padding-bottom: 0.4rem;
}
.plan-element .plan-general .tag{
    opacity: 60%;
}
.plan-element .plan-details p{
    margin: 1.5rem 0;
}
.plan-element .plan-try-buy{
    margin: 1.8rem 0;
}
.plan-element .plan-try-buy button{
    width: 100%;
    margin: 1.8rem 0;
}
.plan-element .plan-try-buy a:visited, #features a:visited{
    color: blue;
}
.plan-element .plan-major-details{
    margin-top: 2.5rem;
}
.plan-element .plan-major-details h4{
    margin-bottom: 1.7rem;
    margin-left: 5px;
}
.plan-element .plan-major-details p{
    margin-bottom: 1.3rem;
    width: 100%;
    word-wrap: break-word;
}
.plan-element .plan-major-details p i{
    width: 15px;
    padding-top: 3px;
}
.plan-element .plan-major-details p span{
    width: calc(100% - 15px - 0.5rem);
}

/*****************************************************************/
/****************************** Plan *****************************/
/****************************** Team *****************************/
/*****************************************************************/
.plan-team{
    margin-top: 3rem;
    border: 1px solid lightgrey;
}
.plan-team .content{
    padding: 2rem;
}
.plan-team .left{
    width: 70%;
}
.plan-team .right{
    width: 25%;
    text-align: right;
}
.plan-team .left h3{
    margin-bottom: 1rem;
}
.plan-team .left h4{
    margin-bottom: 3rem;
}

/*****************************************************************/
/**************************** Partners ***************************/
/*****************************************************************/
main #partners{
    margin: 6rem 0;
}
main #partners .container{
    width: 100%;
}
main #partners .left{
    width: 60%;
}
main #partners .right{
    width: 40%;
    padding:  3rem 3rem;
}
main #partners .left img{
    width: 100%;
}
main #partners h3{
    padding-bottom: 6px;
}
main #partners p{
    padding-bottom: 1.7rem;
    max-width: 278px;
}

/*****************************************************************/
/**************************** Features ***************************/
/*****************************************************************/
main #features{
    margin: 6rem 0;
}
main #features .containerFeatures{
    width: 100%;
    margin: 2rem 0;
}
main #features .containerFeatures .feature{
    width: calc(100% / 3 - 2rem);
}
.containerFeatures .feature img{
    width: 100%;
}
main #features .generalContent{
    width: 100%;
    margin: 9rem 0 2rem 0;
}
main #features .generalContent h2{
    width: 100%;
    max-width: 600px;
}

/*****************************************************************/
/***************************** Clients ***************************/
/*****************************************************************/
main #clients{
    background-color: var(--bg-clients);
    height: calc(100vw / 3);
}
main #clients .total-width-container{
    width: 100%;
    height: 100%;
}
main #clients .container{
    width: 100vw;
    max-width: 100%;
    height: 100%;
}
main #clients .container .logos, main #clients .container .text{
    width: calc(100% / 3);
}
main #clients .container .logos .logo{
    width: 50%;
    height: calc((100vw / 3) / 2);
    position: relative;
}
main #clients .container .logos .logo img{
    width: 55%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: invert(100%);
}
.square-border{
    border: 12px solid transparent;
    transition: border var(--tr-bdr-square-color) linear;
}
.square-border:hover{
    border: 12px solid rgba(255, 255, 255, 0.5);
}
.bg-designIt{
    background-color: var(--bg-logo-designIt);
}
.bg-asu{
    background-color: var(--bg-logo-asu);
}
.bg-ufFlorida{
    background-color: var(--bg-logo-ufFlorida)
}
.bg-topps{
    background-color: var(--bg-logo-topps);
}
.bg-worldBicycleRelief{
    background-color: var(--bg-logo-worldBicycleRelief);
}
.bg-hearst{
    background-color: var(--bg-logo-hearst);
}
.bg-lonelyPlanet{
    background-color: var(--bg-logo-lonelyPlanet);
}
.bg-clearChannel{
    background-color: var(--bg-logo-clearChannelOutdoor);
}
main #clients .container .text{
    height: 100%;
    overflow-y: auto;
    padding: 3.1rem;
    font-size: calc(var(--fs-body));
}
main #clients .container .text img{
    width: 55%;
    min-width: 8rem;
    margin-bottom: 3.5rem;
}
main #clients .container .text hr{
    width: 120px;
    opacity: 50%;
}
main #clients .container .text p{
    margin: 3rem 0 3rem 0;
}

/*****************************************************************/
/*************************** Free-trial **************************/
/*****************************************************************/
main #free-trial{
    padding-top: 5.5rem;
    padding-bottom: 3rem;
}
main #free-trial h2{
    max-width: 550px;
    color: var(--txt-special);
}
main #free-trial button{
    max-height: 40px;
}

/*****************************************************************/
/******************************* FAQ *****************************/
/*****************************************************************/
main #faq{
    padding-top: 6rem;
    padding-bottom: 7rem;
}
main #faq .summary{
    font-weight: 700;
}
main #faq .details{
    padding: 1.5rem 0 1.5rem 0;
    transition: background-color var(--tr-bg-color) linear;
}
main #faq .details:hover{
    background-color: var(--bg-hover-details);
}
main #faq .details-content{
    display: none;
    opacity: 0;
}
main #faq .details:hover .details-content{
    display: block;
    animation: dt-content-opacity 1s linear 0.2s 1 forwards;
}
main #faq .summary i{
    margin: 0 2.5rem 0 1rem;
    float: right;
}
main #faq .details:hover i{
    animation: rotate-angle 0.5s linear 1 forwards;
}
@keyframes rotate-angle{
    100%{
        transform-origin: 50% 50%;
        transform: rotate(-180deg);
    }
}
@keyframes dt-content-opacity{
    100%{
        opacity: 1;
    }
}

/*****************************************************************/
/***************************** Footer ****************************/
/*****************************************************************/
footer{
    background-color: var(--bg-footer);
    color: var(--txt-footer);
}
footer nav ul li a{
    color: var(--txt-footer);
    font-size: calc(var(--fs-body) - 0.1rem);
}
footer nav ul li a:hover{
    text-decoration: underline;
}
footer #links{
    padding: 5rem 0 4rem 0;
}
footer #links li{
    padding: 0.3rem 0 0.3rem 0;
}
footer #links li h3{
    padding-bottom: 0.5rem;
}
footer #languages{
    padding: 1rem 0 0 0;
}
footer #languages .container{
    width: 120px;
    padding: 2.5rem 0;
    border-top: 1px solid var(--txt-footer);
}
footer #languages select{
    font-size: var(--fs-body);
    background-color: var(--bg-footer);
    color: var(--txt-footer);
    text-align: center;
    width: 80px;
    --webkit-border-radius: 0;
    border: 0;
}
footer #languages select:hover{
    cursor: pointer;
}

/*****************************************************************/
/**************************** Chatbox ****************************/
/*****************************************************************/
aside{
    max-width: 450px;
    min-width: 100px;
    max-height: 500px;
    z-index: 10;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 0 1rem 1rem 0;
    padding: 0.5rem;
}
aside .chatbox-container, aside .chatbox{
    width: 100%;
    height: 100%;
}
aside .chatbox{
    border: 2px solid var(--bdr-chatbox);
    background-color: var(--bg-chatbox-content);
}
aside .chatbox .chatbox-header, aside .show-header{
    height: 55px;
    background-color: var(--bg-chatbox-header);
    border-radius: 8px 8px 0 0;
    border-bottom: 2px solid var(--bdr-chatbox);
    margin-bottom: 0.5rem;
}
aside .chatbox .chatbox-header i, aside .show-header i{
    font-size: var(--fs-chatbox-header);
}
aside .chatbox .chatbox-content{
    height: calc(100% - 55px - 53px - 7px);
    overflow-y: auto;
}
aside .chatbox .message{
    max-width: 80%;
    padding: 1rem 0.5rem 1rem 0.5rem;
    margin: 0.5rem 0 0.5rem 0;
}
aside .chatbox .chatbox-content .message i{
    width: 30px;
    font-size: var(--fs-chatbox-icons);
}
aside .chatbox .chatbox-content .message span{
    max-width: 403px;
}
aside .chatbox .chatbox-content .bot span{
    text-align: left;
    padding: 0 1rem 0 0;
}
aside .chatbox .chatbox-content .user span{
    text-align: right;
    padding: 0 0 0 1rem;
}
aside .chatbox .chatbox-content .bot, aside .chatbox .chatbox-content .user{
    background-color: var(--bg-chatbox-header);
}
aside .chatbox .chatbox-content .bot {
    border-radius: 0 20px 20px 0;
    float: left;
}
aside .chatbox .chatbox-content .user {
    border-radius: 20px 0 0 20px;
    float: right;
}
aside .chatbox .chatbox-footer{
    height: 53px;
    padding: 5px;
    border-top: 2px solid var(--bdr-chatbox);
}
aside .chatbox .chatbox-footer .btn{
    height: 100%;
    width: 57px;
}
aside .chatbox .chatbox-footer input{
    width: calc(100% - 57px - 5px);
    padding: 10px;
    font-family: inherit;
}
.hide{
    display: none;
    opacity: 0;
}
aside .show-header{
    border-radius: 10px;
    border: 2px solid var(--bdr-chatbox);
}
aside .chatbox-container:hover .show-header{
    display: none;
}
aside .chatbox-container:hover .hide{
    display: block;
    animation: open-chatbox 0.5s linear 1 forwards;
}
aside:hover{
    height: 500px;
}
@keyframes open-chatbox{
    100%{
        opacity: 1;
    }
}