/******************************************************************************/
/**************************** Variables definition ****************************/
/******************************************************************************/
:root{
    /* Background variables */
    --bg-body: #ffffff;
    --bg-header: #ffffff;
    --bg-hero-free-trial: #b4d0e7;
    --bg-footer: #000000;
    --bg-logo-designIt: #a2d39b;
    --bg-logo-asu: #61082b;
    --bg-logo-ufFlorida: #0093ce;
    --bg-logo-topps: #ff1c1c;
    --bg-logo-worldBicycleRelief: #d5001f;
    --bg-logo-hearst: #b4d0e7;
    --bg-logo-lonelyPlanet: #0d2481;
    --bg-logo-clearChannelOutdoor: #ffd830;
    --bg-btn-default: #ffffff;
    --bg-btn-special: #0061ff;

    /* Text colors variables */
    --txt-body: #000000;
    --txt-footer: #ffffff;
    --txt-footer-languages: #9b9a9b;
    --txt-special: #61082b;
    --txt-btn-default: #000000;
    --txt-btn-special: #ffffff;

    /* Border variables */
    --bdr-header: #d1d9e1;
    --bdr-btn-default: #000000;
    --bdr-btn-special: transparent;

    /* Hover variables */
    --bg-hover-header: #f2eee8;
    --bg-hover-btn-default: #f2eee8;
    --bg-hover-btn-special: #337ffa;
    
    /* Size variables */
    --fs-body: 1rem;
    --fs-btn: 1.1rem;
    --fs-h1: 5rem;
    --min-height-header-navbar: 50px;

    /* Transition variables */
    --tr-bg-color: 1s;
}

/***************************************************************/
/**************************** Reset ****************************/
/***************************************************************/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*****************************************************************/
/**************************** General ****************************/
/*****************************************************************/
html{
    scroll-behavior: smooth;
}
.debug{
    border: 1px solid red;
}
body{
    font-family: 'Open Sans', sans-serif;
    font-size: var(--fs-body);
    color: var(--txt-body);
}
main{
    width: 100%;
}
.margin-auto{
    margin: 0 auto;
}
.main-container{
    max-width: 1200px;
}
.small-container{
    max-width: 1000px;
}

/*****************************************************************/
/**************************** Flexbox ****************************/
/*****************************************************************/
.d-flex{
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    justify-content: space-between;

}
.d-f-align-items-center{
    align-items: center;
}
.gap-1rem{
    gap: 1rem;
}

/*****************************************************************/
/**************************** Buttons ****************************/
/*****************************************************************/
.btn{
    font-size: var(--fs-btn);
    padding: 7px 12px;
    transition: background-color var(--tr-bg-color);
}
.btn:hover{
    cursor: pointer;
}
.btn-default{
    background-color: var(--bg-btn-default);
    color: var(--txt-btn-default);
    border: 1px solid var(--bdr-btn-default);
    
}
.btn-default:hover{
    background-color: var(--bg-hover-btn-default);
}
.btn-special{
    background-color: var(--bg-btn-special);
    color: var(--txt-btn-special);
    border: 1px solid var(--bdr-btn-special);
}
.btn-special:hover{
    background-color: var(--bg-hover-btn-special);
}

/*****************************************************************/
/***************************** List ******************************/
/*****************************************************************/
nav ul{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
}

/*****************************************************************/
/****************************** Main *****************************/
/**************************** General ****************************/
/*****************************************************************/
main{
    padding-top: 68px;
}
main #hero, main #free-trial{
    background-color: var(--bg-hero-free-trial);
}

/*****************************************************************/
/**************************** Header ****************************/
/*****************************************************************/
header{
    background-color: var(--bg-header);
    width: 100%;
    min-height: var(--min-height-header-navbar);
    position: fixed;
    top: 0;
    z-index: 1000;
    border-bottom: 2px solid var(--bdr-header);
    padding: 1rem 1rem 0 1rem;
}
header nav ul{
    min-height: var(--min-height-header-navbar);
}
header nav ul img{
    min-height: 35px;
}
header nav ul li a{
    padding: 15px 12px;
    color: var(--txt-body);
    transition: background-color var(--tr-bg-color);
}
header nav ul li a:hover{
    background-color: var(--bg-hover-header);
}

/*****************************************************************/
/****************************** Hero *****************************/
/*****************************************************************/
main #hero{
    width: 100%;
    padding: 5rem 1rem 1rem 1rem;
    margin-bottom: 6rem;
}
main #hero h1{
    font-size: var(--fs-h1);
}
main #hero .text{
    width: calc(100% / 3 - 1rem);
}
main #hero .text p{
    padding: 2rem 0 2rem 0;
}
main #hero .text i{
    font-size: 3rem;
    padding-top: 2rem;
}
main #hero .image{
    width: calc((100% / 3) * 2);
    padding-top: 2rem;
    margin-bottom: -6rem;
}
main #hero .image img{
    width: 100%;
    min-width: 270px;
}

/*****************************************************************/
/**************************** Footer ****************************/
/*****************************************************************/
footer{
    background-color: var(--bg-footer);
    color: var(--txt-footer);
}
footer nav ul li a{
    color: var(--txt-footer);font-size: calc(var(--fs-body) - 0.2rem);

}
footer #links{
    padding: 5rem 0 4rem 0;
}
footer #links li{
    padding: 0.3rem 0 0.3rem 0;
}
footer #links li h3{
    padding-bottom: 0.5rem;
}
footer #languages{
    padding: 1rem 0 0 0;
}
footer #languages .container{
    width: 120px;
    padding: 2.5rem 0;
    border-top: 1px solid var(--txt-footer);
}
footer #languages select{
    font-size: var(--fs-body);
    background-color: var(--bg-footer);
    color: var(--txt-footer);
    text-align: center;
    width: 80px;
    --webkit-border-radius: 0;
    border: 0;
}
footer #languages select:hover{
    cursor: pointer;
}